In [4]:
import pandas as pd
from pathlib import Path
# Clean and preprocess the budget data, handling missing values, standardizing formats, 
# and ensuring data consistency. 
# Perform initial checks to ensure the dataset is ready for analysis.

In [ ]:
#Loading the data into dataframes

In [184]:
budget_path_2019 = Path("Resources/approved-operating-budget-summary-2019.xlsx") #2019
budget2019_df = pd.read_excel(budget_path_2019, sheet_name='2019')
budget_path_2020 = Path("Resources/approved-operating-budget-summary-2020.xlsx") #2020
budget2020_df = pd.read_excel(budget_path_2020, sheet_name='open data')
budget_path_2021 = Path("Resources/approved-operating-budget-summary-2021.xlsx") #2021
budget2021_df = pd.read_excel(budget_path_2021, sheet_name='2021')
budget_path_2022 = Path("Resources/approved-operating-budget-summary-2022.xlsx") #2022
budget2022_df = pd.read_excel(budget_path_2022, sheet_name='Open Data')
budget_path_2023 = Path("Resources/approved-operating-budget-summary-2023.xlsx") #2023
budget2023_df = pd.read_excel(budget_path_2023, sheet_name='Open Data')

In [ ]:
#Checking for null values using the isnull function, and printing the number of null values in the data frame

In [186]:
null_2019 = budget2019_df.isnull()   #checking for null values
null_per_column_2019 = null_2019.sum()
print(null_per_column_2019)

Program              0
Service              0
Activity             0
Expense/Revenue      0
Category Name        0
Sub-Category Name    0
Commitment item      0
2019                 0
dtype: int64

In [187]:
null_2020 = budget2020_df.isnull() #checking for null values
null_per_column_2020 = null_2020.sum()
print(null_per_column_2020)

Program              0
Service              0
Activity             0
Expense/Revenue      0
Category Name        0
Sub-Category Name    0
Commitment item      0
2020                 0
dtype: int64

In [188]:
null_2021  = budget2021_df.isnull() #checking for null values
null_per_column_2021 = null_2021.sum()
print(null_per_column_2021)

Program              0
Service              0
Activity             0
Expense/Revenue      0
Category Name        0
Sub-Category Name    0
Commitment item      0
2021                 0
dtype: int64

In [189]:
null_2022 = budget2022_df.isnull()  #checking for null values
null_per_column_2022 = null_2022.sum()
print(null_per_column_2022)

Program              0
Service              0
Activity             0
Expense/Revenue      0
Category Name        0
Sub-Category Name    0
Commitment item      0
2022                 0
dtype: int64

In [190]:
null_2023 = budget2023_df.isnull()    #checking for null values
null_per_column_2023 = null_2023.sum()
print(null_per_column_2023)

Program              0
Service              0
Activity             0
Expense/Revenue      0
Category Name        0
Sub-Category Name    0
Commitment item      0
2023                 0
dtype: int64

In [ ]:
#Renaming the last column in the data set to Budgeted Amount Year

In [199]:
budget2019_df.rename(columns={2019.0: 'Budgeted amount 2019'}, inplace=True)
budget2020_df.rename(columns={2020.0: 'Budgeted amount 2020'}, inplace=True)
budget2021_df.rename(columns={2021.0: 'Budgeted amount 2021'}, inplace=True)
budget2022_df.rename(columns={2022.0: 'Budgeted amount 2022'}, inplace=True)
budget2023_df.rename(columns={2023.0: 'Budgeted amount 2023'}, inplace=True)

In [ ]:
#Checking for duplicates

In [ ]:
##  Counts number of values in each dataframe before dropping duplicates

In [200]:
budget2019_df.count()

Program                 19428
Service                 19428
Activity                19428
Expense/Revenue         19428
Category Name           19428
Sub-Category Name       19428
Commitment item         19428
Budgeted amount 2019    19428
dtype: int64

In [201]:
budget2020_df.count()

Program                 17779
Service                 17779
Activity                17779
Expense/Revenue         17779
Category Name           17779
Sub-Category Name       17779
Commitment item         17779
Budgeted amount 2020    17779
dtype: int64

In [202]:
budget2021_df.count()

Program                 20816
Service                 20816
Activity                20816
Expense/Revenue         20816
Category Name           20816
Sub-Category Name       20816
Commitment item         20816
Budgeted amount 2021    20816
dtype: int64

In [205]:
budget2022_df.count()

Program                 19714
Service                 19714
Activity                19714
Expense/Revenue         19714
Category Name           19714
Sub-Category Name       19714
Commitment item         19714
Budgeted amount 2022    19714
dtype: int64

In [206]:
budget2023_df.count()

Program                 20127
Service                 20127
Activity                20127
Expense/Revenue         20127
Category Name           20127
Sub-Category Name       20127
Commitment item         20127
Budgeted amount 2023    20127
dtype: int64

In [207]:
##Dropping duplicates
budget2019_df.drop_duplicates(subset = 'Budgeted amount 2019')
budget2020_df.drop_duplicates(subset = 'Budgeted amount 2020')
budget2021_df.drop_duplicates(subset = 'Budgeted amount 2021')
budget2022_df.drop_duplicates(subset = 'Budgeted amount 2022')
budget2023_df.drop_duplicates(subset = 'Budgeted amount 2023')

,Program,Service,Activity,Expense/Revenue,Category Name,Sub-Category Name,Commitment item,Budgeted amount 2023
0,311 Toronto,311 Development,311 PMO,Expenses,Benefits,Benefits,Canada Pension Plan,63293.40
1,311 Toronto,311 Development,311 PMO,Expenses,Service And Rent,Telecommnuncation,Cellular Telephones,2830.00
2,311 Toronto,311 Development,311 PMO,Expenses,Benefits,Benefits,Comprehensive Medical,72595.32
3,311 Toronto,311 Development,311 PMO,Expenses,Benefits,Benefits,Dental Plan,37800.96
4,311 Toronto,311 Development,311 PMO,Expenses,Benefits,Benefits,Employment Insurance,22992.96
...,...,...,...,...,...,...,...,...
20114,Yonge-Dundas Square,Public Square And Event Venue,Not assigned,Expenses,Service And Rent,Services,Other Expenses,714500.00
20115,Yonge-Dundas Square,Public Square And Event Venue,Not assigned,Expenses,Service And Rent,Services,Other Professional And Technical Service,66000.00
20123,Yonge-Dundas Square,Public Square And Event Venue,Not assigned,Revenues,Contribution From Reserves/Reserve Funds,Contribution From Reserves/Reserve Funds,Contributions From Reserves,-33519.00
20124,Yonge-Dundas Square,Public Square And Event Venue,Not assigned,Revenues,User Fees & Donations,User Fees,"Fees, Service Charges",-836250.00
20126,Yonge-Dundas Square,Public Square And Event Venue,Not assigned,Revenues,Other Revenue,Miscellaneous Revenues,Sundry Revenue,-880000.00

In [ ]:
##Checking if count values changed after dropping duplicates

In [208]:
budget2019_df.count()

Program                 19428
Service                 19428
Activity                19428
Expense/Revenue         19428
Category Name           19428
Sub-Category Name       19428
Commitment item         19428
Budgeted amount 2019    19428
dtype: int64

In [209]:
budget2020_df.count()

Program                 17779
Service                 17779
Activity                17779
Expense/Revenue         17779
Category Name           17779
Sub-Category Name       17779
Commitment item         17779
Budgeted amount 2020    17779
dtype: int64

In [210]:
budget2021_df.count()

Program                 20816
Service                 20816
Activity                20816
Expense/Revenue         20816
Category Name           20816
Sub-Category Name       20816
Commitment item         20816
Budgeted amount 2021    20816
dtype: int64

In [211]:
budget2022_df.count()

Program                 19714
Service                 19714
Activity                19714
Expense/Revenue         19714
Category Name           19714
Sub-Category Name       19714
Commitment item         19714
Budgeted amount 2022    19714
dtype: int64

In [212]:
budget2023_df.count()

Program                 20127
Service                 20127
Activity                20127
Expense/Revenue         20127
Category Name           20127
Sub-Category Name       20127
Commitment item         20127
Budgeted amount 2023    20127
dtype: int64

In [ ]:
#Checking if data types are consistent in the datasets

In [213]:
budget2019_df.dtypes

Program                  object
Service                  object
Activity                 object
Expense/Revenue          object
Category Name            object
Sub-Category Name        object
Commitment item          object
Budgeted amount 2019    float64
dtype: object

In [214]:
budget2020_df.dtypes

Program                  object
Service                  object
Activity                 object
Expense/Revenue          object
Category Name            object
Sub-Category Name        object
Commitment item          object
Budgeted amount 2020    float64
dtype: object

In [215]:
budget2021_df.dtypes

Program                  object
Service                  object
Activity                 object
Expense/Revenue          object
Category Name            object
Sub-Category Name        object
Commitment item          object
Budgeted amount 2021    float64
dtype: object

In [216]:
budget2022_df.dtypes

Program                  object
Service                  object
Activity                 object
Expense/Revenue          object
Category Name            object
Sub-Category Name        object
Commitment item          object
Budgeted amount 2022    float64
dtype: object

In [217]:
budget2023_df.dtypes

Program                  object
Service                  object
Activity                 object
Expense/Revenue          object
Category Name            object
Sub-Category Name        object
Commitment item          object
Budgeted amount 2023    float64
dtype: object

In [ ]:
#Checking if the data is consistant using mean, median

In [221]:
budget2019_df.describe()

       Budgeted amount 2019
count          1.942800e+04
mean           7.332464e-10
std            3.771480e+07
min           -4.397556e+09
25%            3.215250e+02
50%            3.277170e+03
75%            3.240535e+04
max            1.080924e+09

In [219]:
budget2020_df.describe()

       Budgeted amount 2020
count          1.777900e+04
mean           9.855393e-10
std            4.092336e+07
min           -4.556628e+09
25%            3.923550e+02
50%            4.000000e+03
75%            3.848654e+04
max            1.120524e+09

In [226]:
budget2021_df.describe()

       Budgeted amount 2021
count          2.081600e+04
mean          -1.695673e-11
std            3.889741e+07
min           -4.671171e+09
25%            2.440000e+01
50%            1.768690e+03
75%            2.500000e+04
max            1.124730e+09

In [227]:
budget2022_df.describe()

       Budgeted amount 2022
count          1.971400e+04
mean          -5.089539e+04
std            4.085230e+07
min           -4.878800e+09
25%            2.418950e+02
50%            3.000000e+03
75%            3.452182e+04
max            1.121098e+09

In [228]:
budget2023_df.describe()

       Budgeted amount 2023
count          2.012700e+04
mean          -5.151378e+04
std            4.270154e+07
min           -5.200574e+09
25%            1.892000e+02
50%            2.720420e+03
75%            3.377391e+04
max            1.189747e+09

In [231]:
neg = budget2023_df[budget2023_df['Budgeted amount 2023']<0]
neg
len(neg)

1430

In [232]:
neg3 = budget2019_df[budget2019_df['Budgeted amount 2019']<0]
neg3
len(neg3)

1959

In [233]:
neg4 = budget2020_df[budget2020_df['Budgeted amount 2020']<0]
neg4
len(neg4)

1317

In [235]:
neg90 = budget2022_df[budget2022_df['Budgeted amount 2022']<0]
neg90
len(neg90)

1378

In [236]:
neg9 = budget2021_df[budget2021_df['Budgeted amount 2021']<0]
neg9
len(neg9)

1296